* {
    border: 1px solid blue;
} 

body {
    background-color: lightcyan;
}

.b-green {
    border: 4px solid green;
}

.b-fuchsia {
    border: 4px solid fuchsia;
}

.txt-green {
    color: greenyellow;
    font-size: 32px;
}


#unique {
    border: 4px solid black;
}